doctype html
html
  head
    title Dingdong
    link(href="./styles/style.css" rel="stylesheet")
    link(href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet")

  body
    h1.hello hello



    script(src="./scripts/script.js")